.dot-spinner {
  width: 20px;
  height: 20px;
}

.dot-spinner circle {
  animation: 1.2s e infinite;
  fill: #f03637;
}

.dot-spinner circle:nth-child(1) {
  animation-delay: -1.1s;
}
.dot-spinner circle:nth-child(2) {
  animation-delay: -1s;
}
.dot-spinner circle:nth-child(3) {
  animation-delay: -0.9s;
}
.dot-spinner circle:nth-child(4) {
  animation-delay: -0.8s;
}
.dot-spinner circle:nth-child(5) {
  animation-delay: -0.7s;
}
.dot-spinner circle:nth-child(6) {
  animation-delay: -0.6s;
}
.dot-spinner circle:nth-child(7) {
  animation-delay: -0.5s;
}
.dot-spinner circle:nth-child(8) {
  animation-delay: -0.4s;
}
.dot-spinner circle:nth-child(9) {
  animation-delay: -0.3s;
}
.dot-spinner circle:nth-child(10) {
  animation-delay: -0.2s;
}
.dot-spinner circle:nth-child(11) {
  animation-delay: -0.1s;
}

@keyframes e {
  3% {
    fill-opacity: 1;
  }
  75% {
    fill-opacity: 0;
  }
}
